body a {
  text-decoration: none;
  outline: none;
  color: #ffffff;
}

.app {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app h1 {
  padding-bottom: 10px;
  border-bottom: 2px solid #ffffff;
}
